#wp-photocommons-images .image {
    width: 200px;
    height: 200px;
    float: left;
    margin: 5px;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #999;
}

#wp-photocommons-images .image:hover {
    border: 1px solid #f99;
}

#wp-photocommons-search {
    width: 70%;
}

.ui-dialog {
    z-index: 1000;
}
